    html,
    body {
      text-align: center;
      width: 500px;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .header {
      align-items: center;
      background: linear-gradient(160deg, #f05d1c, #f99d0d);
      height: 4rem;
      display: flex;
    }

    .header__link:focus {
      outline: none;
    }

    .header__logo {
      display: inline-block;
      margin: .2rem 0 0 1.5rem;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
      height: 2rem;
    }

    .header__title {
      color: white;
      padding-top: 1rem;
    }

    .buttons {
      padding: 5px;
    }

    .main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .ip-display {
      padding: 10px 20px;
      font-size: 0.75rem;
      outline: 5px dotted orange;
      max-width: 50vw;
      max-height: 10vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    button {
      border: 2px solid black;
      background-color: black;
      color: white;
      cursor: pointer;
      font-family: Montserrat, sans-serif;
      font-size: 1rem;
      padding: 5px 7.5px;
      margin: 5px;
      width: 150px;

    }

    button:hover {
      background-color: #e5ac33;
    }